In [1]:
from pprint import pprint as pp
from datetime import datetime, timedelta
import requests
import pandas as pd

In [67]:
history_url = "https://covid-193.p.rapidapi.com/history"

# https://rapidapi.com/api-sports/api/covid-193/endpoints

def get_by_country(country_name: str, day_str: str):
    # day format: YYYY-MM-DD
    querystring = {"day": day_str,"country":country_name}
    response = requests.request("GET", history_url, headers=headers, params=querystring)
    return response

# get_by_country(day_str="2020-10-13", country_name='usa').json()

In [3]:
df = pd.read_csv('data/covid-data.csv')

In [4]:
countries = df.groupby(by='location').count().index.tolist()

In [8]:
dates_str = list(set(df['date']))
print(sorted(dates_str)[0], sorted(dates_str)[-1])

2019-12-31 2020-10-13

## Get stats by country:

In [14]:
df = pd.read_csv('data/covid-data.csv')
df_total = df[df['location'] == 'World']
df_total = df_total[['date', 'location', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed']]

In [15]:
df_total

,date,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed
49302,2019-12-31,World,27.0,27.0,NaN,0.0,0.0,NaN
49303,2020-01-01,World,27.0,0.0,NaN,0.0,0.0,NaN
49304,2020-01-02,World,27.0,0.0,NaN,0.0,0.0,NaN
49305,2020-01-03,World,44.0,17.0,NaN,0.0,0.0,NaN
49306,2020-01-04,World,44.0,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
49585,2020-10-09,World,36611917.0,387973.0,320160.286,1063243.0,9118.0,5606.714
49586,2020-10-10,World,36956458.0,344541.0,323840.714,1068963.0,5720.0,5633.286
49587,2020-10-11,World,37296383.0,339925.0,328909.571,1073683.0,4720.0,5633.143
49588,2020-10-12,World,37602785.0,306402.0,332232.000,1077720.0,4037.0,5643.429
49589,2020-10-13,World,37875422.0,272637.0,332831.571,1081632.0,3912.0,5566.143