In [2]:
from pprint import pprint as pp
from datetime import datetime, timedelta
import requests
import pandas as pd

In [33]:
url = "https://covid-193.p.rapidapi.com/countries"

headers = {
    'x-rapidapi-host': "covid-193.p.rapidapi.com",
    'x-rapidapi-key': "96c9bf6347mshaa70842b22ac472p17ea96jsncd83f482d9aa"
    }
response = requests.request("GET", url, headers=headers)
countries = response.json()['response']

In [67]:
history_url = "https://covid-193.p.rapidapi.com/history"

def get_by_country(country_name: str, day_str: str):
    # day format: YYYY-MM-DD
    querystring = {"day": day_str,"country":country_name}
    response = requests.request("GET", history_url, headers=headers, params=querystring)
    return response

# get_by_country(day_str="2020-10-13", country_name='usa').json()

In [3]:
df = pd.read_csv('data/covid-data.csv')

In [3]:
df[df['iso_code']=='RUS']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
38565,RUS,Europe,Russia,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816
38566,RUS,Europe,Russia,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816
38567,RUS,Europe,Russia,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816
38568,RUS,Europe,Russia,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816
38569,RUS,Europe,Russia,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38848,RUS,Europe,Russia,2020-10-09,1260112.0,11493.0,10697.286,22056.0,191.0,166.429,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816
38849,RUS,Europe,Russia,2020-10-10,1272238.0,12126.0,11085.000,22257.0,201.0,168.571,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816
38850,RUS,Europe,Russia,2020-10-11,1285084.0,12846.0,11511.714,22454.0,197.0,171.857,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816
38851,RUS,Europe,Russia,2020-10-12,1298718.0,13634.0,11959.571,22597.0,143.0,177.000,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816
38852,RUS,Europe,Russia,2020-10-13,1312310.0,13592.0,12345.857,22722.0,125.0,178.143,...,24765.954,0.1,431.297,6.18,23.4,58.3,NaN,8.05,72.58,0.816

In [34]:
countries = df.groupby(by='location').count().index.tolist()

In [76]:
dates_str = list(set(df['date']))

## Total by days

In [3]:
df = pd.read_csv('data/covid-data.csv')
df_total = df[df['location'] == 'World']
df_total.head(1)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
49302,OWID_WRL,NaN,World,2019-12-31,27.0,27.0,NaN,0.0,0.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN

In [178]:
df_total.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [5]:
df_total = df_total[['date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed']]

In [6]:
df_total = df_total.fillna(0).reset_index(drop=True)

In [7]:
df_total.to_csv('data/world_new_cases.csv')

In [174]:
# df_total[['date', 'total_cases']].values.tolist()

In [184]:
# df_total[['date', 'new_cases']].values.tolist()

In [190]:
df[['location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed']]

,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed
0,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN
1,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0
2,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0
3,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0
4,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...
49873,International,2020-10-09,696.0,NaN,NaN,7.0,NaN,NaN
49874,International,2020-10-10,696.0,NaN,NaN,7.0,NaN,NaN
49875,International,2020-10-11,696.0,NaN,NaN,7.0,NaN,NaN
49876,International,2020-10-12,696.0,NaN,NaN,7.0,NaN,NaN
49877,International,2020-10-13,696.0,NaN,NaN,7.0,NaN,NaN

In [4]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49873,NaN,NaN,International,2020-10-09,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49874,NaN,NaN,International,2020-10-10,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49875,NaN,NaN,International,2020-10-11,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49876,NaN,NaN,International,2020-10-12,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49877,NaN,NaN,International,2020-10-13,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_small = df[['location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed']]

In [9]:
df_small.to_json('covid.json', orient='split')